
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  line-height: 1.5;
  font-family: "Noto Sans Vai", sans-serif;
  width: 100%;
  height: 100%;
}


.halloween {
  color: #ffffff;
  margin: 32px 0;
  display: flex;
  justify-content: center;
  box-sizing: inherit;
  font-family: "Noto Sans Vai", sans-serif;
  font-size: 1.4rem;
}

.halloweenContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 43vh;
  max-width: 1440px;
  background-color: #006241;
}

.halloweenDesc {
  position: relative;
  width: 50%;
  /* padding: 32px 48px; */
  align-items: center;
  justify-content: center;
  line-height: 1.8;
  text-align: center;
}

.descContainer {
  padding: 32px 48px;
}



.halloweenDesc h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.halloweenDesc p {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.halloweenDesc ul {
  margin: 0;
  padding: 0;
  margin-top: 28.5px;
  margin-left: 8px;
  padding-left: 24px;
}

.halloweenDesc li {
  font-size: 19px;
  font-weight: 400;
  margin: 0;
  margin-top: 8px;
}

.halloweenBtn {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  border: solid #fff 1px;
  text-decoration: none;
  margin: 0;
  margin-top: 32px;
  display: inline-block;
  background: none;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.halloweenImgsec {
  display: flex;
  position: relative;
  align-items: center;
  width: 50%;
  height: 100%;
}

.halloweenImg {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.rewards {
  background-color: #d4e9e2;
  color: #1e3932;
  margin: 32px 0;
  display: flex;
  justify-content: center;
  box-sizing: inherit;
  font-family: "Noto Sans Vai", sans-serif;
  font-size: 1.4rem;
}

.rewardsContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45vh;
  min-height: 435px;
  max-width: 1440px;
  background-color: #d4e9e2;
}



.rewardsDesc {
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.descContainer {
  padding: 32px 48px;
}

.rewardsBtn {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: Arial;
  color: #0f0d0f;
  font-size: 15px;
  background: #d4e9e2;
  padding: 10px 21px 10px 20px;
  border: solid #05131c 2px;
  text-decoration: none;
}

.rewardsImgsec {
  display: flex;
  position: relative;
  align-items: center;
  width: 50%;
  height: 100%;
}

.rewardsDesc h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.rewardsDesc p {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.rewardsDesc ul {
  margin: 0;
  padding: 0;
  margin-top: 28.5px;
  margin-left: 8px;
  padding-left: 24px;
}

.rewardsDesc li {
  font-size: 19px;
  font-weight: 400;
  margin: 0;
  margin-top: 8px;
}


.rewardsImg {
  width: 100%;
  height: 97%;
  justify-content: center;
}

.pumpkin {
  background-color: #006241;
  color: #ffffff;
  margin: 32px 0;
  display: flex;
  justify-content: center;
  box-sizing: inherit;
  font-family: "Noto Sans Vai", sans-serif;
  font-size: 1.4rem;
}

.pumpkinContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
  max-width: 1440px;
  background-color: #006241;
}

.descContainer {
  padding: 32px 48px;
}

.pumpkinDesc {
  position: relative;
  width: 50%;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  text-align: center;
}

.pumpkinDesc h1 {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.pumpkinDesc p {
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 1.6rem;
}

.pumpkinDesc ul {
  margin: 0;
  padding: 0;
  margin-top: 28.5px;
  margin-left: 8px;
  padding-left: 24px;
}

.pumpkinDesc li {
  font-size: 19px;
  font-weight: 400;
  margin: 0;
  margin-top: 8px;
}

.pumpkinImgsec {
  display: flex;
  position: relative;
  align-items: center;
  width: 50%;
  height: 100%;
}

.pumpkinImg {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.pumpkinBtn {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  border: solid #fff 1px;
  text-decoration: none;
  margin: 0;
  margin-top: 32px;
  display: inline-block;
  background: none;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
}


.latteImgdesc {
  width: 50%;
  padding: 0;
}

.latteImg {
  width: 100%;
  height: 100%;
}

.latteSec {
  width: 50%;
  text-align: center;
  padding-top: 8rem;
}

.latteBtn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #006241;
  padding: 10px 20px 10px 20px;
  border: solid #fcfeff 2px;
  text-decoration: none;
}

.bakedApple {
  background-color: #006241;
  color: #ffffff;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  display: flex;
  justify-content: center;
  box-sizing: inherit;
  font-family: "Noto Sans Vai", sans-serif;
  font-size: 1.4rem;
}

.bakedContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
  max-width: 1440px;
  background-color: #006241;
}

.bakedDesc {
  position: relative;
  width: 50%;
  text-align: center;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
}

.descContainer {
  padding: 32px 48px;
}

.bakedDesc h1 {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.bakedDesc p {
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 1.6rem;
}

.bakedDesc ul {
  margin: 0;
  padding: 0;
  margin-top: 28.5px;
  margin-left: 8px;
  padding-left: 24px;
}

.bakedDesc li {
  font-size: 19px;
  font-weight: 400;
  margin: 0;
  margin-top: 8px;
}

.bakedImg {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.bakedImgsec {
  display: flex;
  position: relative;
  align-items: center;
  width: 50%;
  height: 100%;
}

.bakedBtn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #006241;
  padding: 9px 20px 10px 20px;
  border: solid #fcfeff 2px;
  text-decoration: none;
}

.glassnmug {
  color: #ffffff;
  margin: 32px 0;
  display: flex;
  justify-content: center;
  /* width: 100%; */
  box-sizing: inherit;
  /* width: 100%; */
  font-family: "Noto Sans Vai", sans-serif;
  font-size: 1.4rem;
}

.glassnmugContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
  max-width: 1440px;
  background-color: #006241;
}

.glassnmugDesc {
  position: relative;
  width: 50%;
  /* padding: 32px 48px; */
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  text-align: center;
}

.descContainer {
  padding: 32px 48px;
}

.glassnmugDesc h1 {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.glassnmugDesc p {
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 1.6rem;
}

.glassnmugDesc ul {
  margin: 0;
  padding: 0;
  margin-top: 28.5px;
  margin-left: 8px;
  padding-left: 24px;
}

.glassnmugDesc li {
  font-size: 19px;
  font-weight: 400;
  margin: 0;
  margin-top: 8px;
}

.glassnmugBtn {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  border: solid #fff 1px;
  text-decoration: none;
  margin: 0;
  margin-top: 32px;
  display: inline-block;
  background: none;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.glassnmugImgsec {
  display: flex;
  position: relative;
  align-items: center;
  width: 50%;
  height: 100%;
}

.glassnmugImg {
  width: 100%;
  height: 100%;
  justify-content: center;
  
}


.rules {
  display: flex;
  justify-content: center;
  columns: #0000;
  font-family: "Noto Sans Vai", sans-serif;
  font-size: 14px;
  text-align: center;
}

.hr {
  width: 100%;
  opacity: 0.5;
}

@media screen and (max-width: 850px){
  
  .rewards {
    margin: 32px 0;
    justify-content: center;
    box-sizing: inherit;
  }
 
  .rewardsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  
  .rewardsDesc {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .descContainer {
    padding: 32px 48px;
  }
  
  .rewardsBtn {
    -webkit-border-radius: 40;
    -moz-border-radius: 40;
    border-radius: 40px;
    font-family: Arial;
    color: #0f0d0f;
    font-size: 15px;
    background: #d4e9e2;
    padding: 10px 21px 10px 20px;
    border: solid #05131c 2px;
    text-decoration: none;
  }
  
  .rewardsImgsec {
    display: flex;
    margin-top: 8px;
    margin-left: 30px;
    margin-right: 10px;
  }

  .rewardsImg {
   width: ;
  }
  
  .rewardsDesc h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  
  .rewardsDesc p {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 1.6rem;
  }
  
  .rewardsDesc ul {
    margin: 0;
    padding: 0;
    margin-top: 28.5px;
    margin-left: 8px;
    padding-left: 24px;
  }
  
  .rewardsDesc li {
    font-size: 19px;
    font-weight: 400;
    margin: 0;
    margin-top: 8px;
  }
  

  .nav2 {
    background-color: aqua;
    display: none;
  }
  .descContainer h2 {
    font-size: 7px;
  }

  .infoContainer {
    background-color: lightpink;
    display: none;
  }
}

$desktop: 1200px;
$laptop: 1024px;
$tablet: 778px;
$phone: 480px:

